.container {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  font-family: sans-serif;
}

.container.hidden {
  display: none;
}

i {
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

i:hover,
button:hover {
  cursor: pointer;
}

h2 {
  font-size: 30px;
}

header {
  background-color: rebeccapurple;
  padding: 18px;
}

.top-header {
  display: flex;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  font-family: sans-serif;
}

.header {
  color: white;
  font-family: sans-serif;
}

.view-entries-button {
  background-color: rebeccapurple;
  color: white;
  font-family: sans-serif;
  border-width: 0;
  font-size: 20px;
}

img {
  width: 100%;
}

.photo-url {
  width: 100%;
}

.photo-input {
  padding-top: 50px;
}

.label {
  padding-bottom: 10px;
  font-size: 22px;
}

input,
textarea {
  display: block;
  width: 100%;
}

input {
  padding-top: 5px;
  padding-bottom: 5px;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid rgb(150 66 233);
  box-shadow: 0 0 1px 1px rgb(150 66 233 / 60%);
}

.edit-save-button,
.save-button {
  background-color: rebeccapurple;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  border-width: 0.5px;
  font-size: 20px;
  margin-top: 20px;
}

.save {
  display: flex;
  justify-content: flex-end;
}

.container-view-entries {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  font-family: sans-serif;
}

.container-view-entries.hidden {
  display: none;
}

.view-entries-header {
  display: flex;
}

.entries-list {
  list-style-type: none;
  justify-content: flex-start;
  align-items: flex-start;
}

.empty-view {
  text-align: center;
}

.empty-view.hidden {
  display: none;
}

.new-button {
  background-color: rebeccapurple;
  color: white;
  padding: 20px 30px;
  border-radius: 5px;
  border-width: 0.5px;
  font-size: 16px;
  margin-top: 20px;
  margin-left: auto;
}

#entry-row {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.entry-title-edit {
  display: flex;
  justify-content: space-between;
}

.container-edit {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
  max-width: 800px;
}

.container-edit.hidden {
  display: none;
}

.delete-save {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.delete-entry {
  background-color: white;
  color: rebeccapurple;
  text-decoration: underline;
  border-width: 0;
  font-size: 20px;
}

.box {
  justify-content: center;
  text-align: center;
}

.box.closed {
  display: none;
}

.box.open {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.432);
}

.modal {
  background-color: white;
  margin: 30vh auto;
  padding: 20px;
  border-radius: 1rem;
}

.modal-question {
  font-size: 23px;
}

.reply {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.cancel {
  border-radius: 5px;
  border-width: 0;
  background-color: lightgray;
}

.confirm {
  color: white;
  border-radius: 5px;
  border-width: 0;
  background-color: red;
}

@media screen and (min-width: 320px) {
  .view-entries-button {
    margin-left: 5px;
  }

  .photo-input {
    padding-top: 20px;
  }

  .notes-entry {
    padding-top: 20px;
  }

  .entry-photo {
    width: 30%;
    padding: 10px;
  }

  .entry-title-description {
    width: 60%;
    font-size: 12px;
    padding-left: 10px;
  }

  .container-view-entries,
  .container-edit {
    max-width: 280px;
  }

  .cancel {
    font-size: 10px;
    padding: 5px 12px;
  }

  .confirm {
    font-size: 10px;
    padding: 5px 12px;
  }

  .modal {
    width: 60%;
  }
}

@media screen and (min-width: 568px) {
  .view-entries-button {
    margin-left: 35px;
  }

  .title-photo-entries {
    display: flex;
  }

  .container-view-entries,
  .container-edit {
    max-width: 525px;
  }

  .title-input {
    padding-left: 25px;
  }

  .photo-input {
    padding-left: 25px;
  }

  .entry-photo-url {
    width: 100%;
  }

  .entry-photo {
    width: 60%;
    padding: 20px;
  }

  .entry-title-description {
    width: 60%;
    font-size: 16px;
    padding-left: 20px;
  }

  .cancel {
    font-size: 12px;
    padding: 5px 15px;
  }

  .confirm {
    font-size: 12px;
    padding: 5px 15px;
  }

  .modal {
    width: 50%;
  }
}

@media screen and (min-width: 569px) {
  .view-entries-button {
    margin-left: 35px;
  }

  .notes-entry {
    padding-top: 10px;
  }

  .cancel {
    font-size: 20px;
    padding: 5px 20px;
  }

  .confirm {
    font-size: 20px;
    padding: 5px 20px;
  }

  .modal {
    width: 40%;
  }

  .container-view-entries,
  .container-edit {
    max-width: 800px;
  }
}
